/* DEMO STYLES
------------------------------------------------------------------------------*/
.form-row,
button {
    margin-bottom: 1em;
}

fieldset label {
    margin-right: 1em;
}

.heading {
    margin-bottom: 14px;
}

.disabled {
    opacity: 0.3;
}